.FollowComponent {
  .followed {
    margin-right: 10px;
    color: rgb(94, 159, 245);
    font-weight: bold;
    cursor: pointer;
  }

  .follow {
    margin-right: 10px;
    color: #bbb;
    font-weight: bold;
    cursor: pointer;
  }
}
