* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  .main_page {
    display: block;
    background-color: #eee;

    main {
      display: flex;
      justify-content: space-between;
    }

    @media only screen and (max-width: 1150px) {
      .main_right {
        display: none;
      }
    }
  }
}
